@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .trans-horizon-active {
    transition: transform 300ms, height 300ms ease-in 600ms;
    @apply origin-top;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  @apply font-body;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
